{% extends "master.html" %}

{% block title %}{{ category_name }}{% endblock title %}

{% block content %}
<h1 class="text-2xl sm:text-3xl font-bold text-center bg-fuchsia-600 text-white p-5 shadow">{{ category_name }} Questions</h1>

<div>
    <ul>
        {% for question in category_name.fullquiz_set.all %}
        <li class="font-serif"><a href="{% url "guessing_app:question_detail" category_name.category question.id %}">{{ question }}</a></li>
        {% endfor %}
    </ul>
</div>
<a href="game/"><button class="bg-purple-500 border border-purple-500 p-3 rounded cursor-pointer text-white hover:text-purple-500 hover:bg-white xl:bg-amber-600">Play</button></a>
{% endblock content %}